<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.checkers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IndependentActivities.StartupScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndependentActivities.OfflineGameSelectScreen"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".GameComponents.BoardDisplay"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IndependentActivities.OnlineGameSelectScreen"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
    </application>

</manifest>